body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(125, 105, 75);
    background-color: rgba(255, 227, 191, 0.575);
    
}

a, a:hover {
    text-decoration: none;
    color: rgb(222, 163, 35);
}

.nav-main,
.nav-main:hover {
    color: rgba(237, 237, 237, 0.795);
    padding: 8px;
    font-weight: bold;
}

.nav-main:hover {
    text-decoration: none;
    background: rgb(89, 89, 89);
    border-radius: 4px;
}

.jumbotron {
    background-color: rgba(226, 225, 195, 0.603);
}

.breadcrumb-item {
    font-size: 0.8em !important;
}
.ellipsis{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-table {
    table-layout: fixed;
}
.board-table .date {
    width: 100px;
}

.post-body{
    white-space: pre-line; /* 2 */
}
.post-info{
    font-size: 0.8em;
}

.user-form {
    width: 400px;
}

.btn-primary {
    background-color: blanchedalmond;
    border-color: rgb(43, 43, 43);
    color: black;
}

.btn-primary:hover {
    background-color: burlywood;
    border-color: rgb(43, 43, 43);
}
