body {
    font-family: 'Open Sans', sans-serif;
}

.nav-main,
.nav-main:hover {
    color: rgba(0, 0, 0, 0.795);
    padding: 8px;
    font-weight: bold;
}

.nav-main:hover {
    text-decoration: none;
    background: rgb(233, 233, 233);
    border-radius: 4px;
}

.breadcrumb-item {
    font-size: 0.8em !important;
}
.ellipsis{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-table {
    table-layout: fixed;
}
.board-table .date {
    width: 100px;
}

.post-body{
    white-space: pre-line; /* 2 */
}
.post-info{
    font-size: 0.8em;
}

.user-form {
    width: 400px;
}