<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <h2 class="mb-3">About</h2>
        <p>이 사이트는 <a href="https://blog.naver.com/dnfla420">https://blog.naver.com/dnfla420</a>에서 작성되었습니다.</p>
    </div>
</body>
</html>